body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: pulse 5s infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*.color-cycle {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  animation: pulse 5s infinite;*/
/*}*/

@keyframes pulse {
  0% {
    background-color: #F5C02F80;
  }
  25% {
    background-color: #5ff57480;
  }
  50% {
    background-color: #2F5BF580;
  }
  75% {
    background-color: #F53B6A80;
  }
  100% {
    background-color: #F5C02F80;
  }
}

.content {
  background-color: #FFFFFFE6;
  padding: 3rem 3rem;
  border-radius: 15px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
